/* Table of Contents
------------------------------------------
-General
-Typography
-Header & Navigation
-Media
-Footer
-Media Queries
------------------------------------------
*/


/* Layout */

.logo a{
  font-family: 'Roboto', sans-serif;
  font-size:1em;
  color:#E8F1F2;
  border: 1px solid #E8F1F2 ;
  text-decoration: none;
  padding: 2px 10px 0 ;
  margin: 0;
  transition: .3s;

}
.logo a:hover{
  background-color: #E8F1F2;
  color: #247BA0;
  transition: .4s;
  opacity: 0.9;
}

.blue{
  margin: 0;
  padding-top: 10px;
    padding-bottom: 10px;
  background-color:#247BA0;
  width: 100%;
  overflow-x:hidden; 

}



body {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  background: #FFFFFF;
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
}

.clr:after {
  content: "";
  display: block;
  clear: both;
}



#title {
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
  width: 70%;
  z-index: 995;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0 0 6%;
  background: #FFFFFF;
  text-align: center;
}

#item1, #item2, #item3, #item4, #item5, #item6, #item7, #item8, #item9, #item10, #item11, #item12, #item13, #item14, #item15 {
  overflow: hidden;
  z-index: 999;
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  height: 0;
  width: 100%;
  background: #FFFFFF;
  -o-transition: transform 0.6s linear 0s, height 0s linear 0.6s; 
  -moz-transition: transform 0.6s linear 0s, height 0s linear 0.6s; 
  -ms-transition: transform 0.6s linear 0s, height 0s linear 0.6s; 
  -webkit-transition: transform 0.6s linear 0s, height 0s linear 0.6s; 
  transition: transform 0.6s linear 0s, height 0s linear 0.6s;
}

#item1:target, #item2:target, #item3:target, #item4:target, #item5:target, #item6:target, #item7:target, #item8:target, 
#item9:target, #item10:target, #item11:target, #item12:target, #item13:target, #item14:target, #item15:target {
  height: 100%;
  overflow: auto;
  -o-transition: transform 0.6s linear 0s, height 0s linear 0s; 
  -moz-transition: transform 0.6s linear 0s, height 0s linear 0s; 
  -ms-transition: transform 0.6s linear 0s, height 0s linear 0s; 
  -webkit-transition: transform 0.6s linear 0s, height 0s linear 0s; 
  transition: transform 0.6s linear 0s, height 0s linear 0s;
  -o-transform: translateZ(0) translateX(-100%);
  -moz-transform: translateZ(0) translateX(-100%);
  -webkit-transform: translateZ(0) translateX(-100%);
  -ms-transform: translateZ(0) translateX(-100%);
  transform: translateZ(0) translateX(-100%);
}



.left, .right {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: auto;
  background: none;
}

.right {
  left: 50%;
  overflow: hidden;
}

.right img {
  height: auto;
  width: 90%;
}

.button {
  display: inline-block;
  height: auto;
  width: auto;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 5px;
  -o-transition: all 0.3s linear 0s; 
  -moz-transition: all 0.3s linear 0s; 
  -ms-transition: all 0.3s linear 0s; 
  -webkit-transition: all 0.3s linear 0s; 
  transition: all 0.3s linear 0s;
  background: #006494;
}

.button:hover {
  background: #199FD5;
}

/* Hexagonal Grid */

#grid {
    position: relative;
    width:95%;
    margin-top: 30px;
}

#grid li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    overflow: hidden;
    visibility: hidden;

}

#grid li * {
  visibility: visible;
}

#grid li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  background: none;

}
#grid li .hexagona {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
}


#grid li:nth-child(3n+2) {
  margin: 0 1%;
}



#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
}

#grid li:nth-child(6n+1), #grid li:nth-child(6n+2), #grid li:nth-child(6n+3) {
  -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:nth-child(6n+1) { 
  margin-left: 0.5%;
}

img{
  margin-top: 50px;
margin-right:50px;
}
#grid li .hexagon img {
  left:-100%;
  right:-100%;
  height:100%;
  width: auto;
  margin: 0 auto;
  -o-transition: all 0.8s linear 0s; 
  -moz-transition: all 0.8s linear 0s; 
  -ms-transition: all 0.8s linear 0s; 
  -webkit-transition: all 0.8s linear 0s; 
  transition: all 0.5s linear 0s;
}

#grid li:hover img {
  height: 110%;
  -o-transform: translateZ(0) translateX(-25%);
  -moz-transform: translateZ(0) translateX(-25%);
  -webkit-transform: translateZ(0) translateX(-5%);
  -ms-transform: translateZ(0) translateX(-5%);
  transform: translateZ(0) translateX(-3%);
}
#grid li .hexagon .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0);
}

#grid li:hover .overlay {
  -o-transition: all 0.6s linear 0s; 
  -moz-transition: all 0.6s linear 0s; 
  -ms-transition: all 0.6s linear 0s; 
  -webkit-transition: all 0.6s linear 0s; 
  transition: all 0.6s linear 0s;
  background: rgba(232,241,242,.6);
}
/* Text */







.left h2 {
  font-family: Roboto Condensed;
  text-align: center;
  font-size: 1.2em;
}

.left p {
  font-family: 'Roboto Condensed';
  font-size: 1em;
  margin: auto;
  width: 90%;
}

#title h1 {
  font-family: 'Roboto Condensed';
  font-size: 36px;
  font-weight: 200;
  color: #575757;
}

.button p, input[type="submit"].button {
  margin: 0;
  font-family: 'Roboto Condensed';
  color: #E8F1F2;
  font-size: 1em;
  float:right;
}
#wrapper p {
  font-size: 1.8755em;
  font-family: 'Roboto Condensed', sans-serif;
color: #E8F1F2;
  -webkit-text-stroke: .5px #13293D;
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.7;
}
#wrapperlg p {
  font-size: 1.8755em;
  font-family: 'Roboto Condensed', sans-serif;
color: #E8F1F2;
  -webkit-text-stroke: .5px #13293D;
  position: absolute;
  top: 49%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.7;
}
.logo{
  text-align: center;
  color:#E8F1F2;
}


/* Media Queries */

@media only screen and (max-width: 1100px) {
   #grid {
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    margin-right:30px;
  }
  .blue{
    width:100%;
  }
  .right canvas {
    height: auto;
    width: 100%;
  }
.right img{
  height: auto;
    width: 100%;
   margin: auto;
  }
.right iframe{
   height: auto;
    width: 100%;
}

}

@media only screen and (max-width: 870px) {
  .logo{
    width:100%;
  }
   #grid {
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    margin-right:30px;
  }
  .blue{
    width:100%;
  }
  /* Layout */
  
 .right canvas {
    height: auto;
    width: 100%;
  }
 .right img{
  height: auto;
    width: 100%;
    margin: auto;
  }
 }

@media only screen and (max-width: 767px) {
  .logo{
    width:100%;
  }
 
  /* layout */
  
  .blue{
    width:100%;
  }

 .button{
    float:right;
  }
 

  .left, .right {
    position: relative;
    left: 0;
    height: auto;
    width: 100%;
  }

  .right canvas {
    height: auto;
    width: 100%;
  }
  .right img{
    padding:20px;
  height: auto;
    width: 90%;
  }

  /* Grid */
  #grid {
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    margin-right:30px;
  }
}


@media only screen and (max-width: 550px) {
  .blue{
    width:100%;
  }
  .logo{
    width:100%;
  }
  .button{
    float:right;
  }
  .left{
    margin:auto;
    margin-bottom: 30px;
    width:90%;
  }
  .right canvas {
    height: auto;
    width: 100%;
  }
  /* Layout */
  body {
margin:0; 
 }
 }


  
